@tailwind base;
@tailwind components;
@tailwind utilities;
/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */


body {
  background-color: transparent;
  -webkit-app-region: drag;
  height: 100%;
  margin: 0;
  padding: 0;
}